main {
    margin: auto;
    padding: 3rem;
    border: 2px #D02120 solid;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    font-family: "Futura Round", sans-serif;
    gap: 15px;
    margin-bottom: 0;
}

.form-input {
    font-family: "Futura Light", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    border-color: rgba(255, 70, 98, 0.39);
}

.form-input:focus {
    outline-color: #ff4662;
}

.form-button {
    width: 30rem;
    grid-column: 1 / -1;
    font-family: "Futura Round", sans-serif;
    letter-spacing: 1px;
    margin: 0 300px;
    background-color: #ff4662;
    color: white;
    border: none;
}

.form-button:hover {
    background-color: rgba(255, 70, 98, 0.91);
    color: white;
    outline-color: #ff4662;
}

.form-meme {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.meme-image {
    border-radius: 1em;
    min-height: 50vh;
    max-height: 500px;
    min-width: 30vh;
    padding: 1rem;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}