* {
    box-sizing: border-box;
}

body {
    font-family: "Futura Round", sans-serif;
}

.main-page {
    padding: 5rem;
    position: relative;
    justify-content: center;
    min-width: 1500px;
    display: grid;
}

@font-face {
    font-family: "Futura Round";
    src: local("Futura-Round"),
    url("fonts/Futura-Round.ttf") format("truetype");
}



